<h1>Hi <%= @letter_writer.name.upcase %> </h1>
<h1>Your Friendly Neighbourhood Email</h1>
<p>Have you sent Sabrina your weekly letter?</p>
<p>If not - - You should really get on that! </p>
<p>Have a Great Day!</p>
